<!-- Top Navigation -->
<div class="navbar">
    <img src="/logo.png" alt="Logo" class="logo" />
  
    <div class="nav-buttons">
      <button class="signin" (click)="goToLogin()" >Sign in</button>
      
      <button class="get-started" (click)="goToRegister()" >Get Started</button>
    </div>
  </div>
  
  <hr class="divider" />
  
  <!-- Main Section -->
  <div class="main-section">
    <!-- Left Text Block -->
    <div class="left-section">
      <h1 class="main-title">Skill Match</h1>
      <h2 class="sub-title">AI & JobsFinder</h2>
      <p class="description">Your job application BFF</p>
  
      <button class="signup" (click)="goToRegister()">Signup</button>
    </div>
  
    <!-- Right Image Block -->
    <div class="right-section">
      <img src="/search.png" alt="AI search" class="hero-image" />
    </div>
  </div>
  